{% extends 'base.html' %}

{% block content %}

    <h1>Curry Under Armour Inventory</h1>

    <h5>Application Name:</h5>
    <p>{{ appName }}</p>

    <h5>Name:</h5>
    <p>{{ name }}</p>

    <h5>Class:</h5>
    <p>{{ class }}</p>

    <h5>Description:</h5>
    <p>{{ description }}</p>

    <h5>Release Date:</h5>
    <p>{{ release_date }}</p>
    
    <hr></hr>
    
    <p>You have saved {{ item_count }} Curry Brand items in this application</p>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>

        {% comment %} Below is how to show the product data {% endcomment %}

        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.description}}</td>
                <td>{{product.product_release_date}}</td>
                <td>
                    <a href="{% url 'main:increment_product' product.pk %}">
                        <button>
                            Increase Amount
                        </button>
                    </a>
                    <a href="{% url 'main:decrement_product' product.pk %}">
                        <button>
                            Decrease Amount
                        </button>
                    </a>
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_product' product.pk %}">
                        <button>
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br />
    
    <h5>Last login session: {{ last_login }}</h5>

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

{% endblock content %}
